<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186357250981-nu0pqt4g0pk42sf649gnpkv13esh8c9a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186357250981-nu0pqt4g0pk42sf649gnpkv13esh8c9a</string>
	<key>API_KEY</key>
	<string>AIzaSyDhOdl7l0LfZn6tqjl9X6j8vsKBIuQn1Es</string>
	<key>GCM_SENDER_ID</key>
	<string>186357250981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.calvignaccharles.BingePodcast</string>
	<key>PROJECT_ID</key>
	<string>bingepodcast-56a3c</string>
	<key>STORAGE_BUCKET</key>
	<string>bingepodcast-56a3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186357250981:ios:c9f75aab600b076a0d864c</string>
</dict>
</plist>